.header-section {
  background-color: #FF5722;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 10px;
}

.site-name {
  color: white;
  font-weight: normal;
  font-size: 24px;
}

.nav-list {
  display: flex;
  background-color: #FFDEC9;
  padding: 10px 0;
  list-style: none;
}

.nav-list li {
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.nav-list li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-list li span {
  margin-left: 15px;
  color: #555;
  font-size: 14px;
  position: relative;
  top: -1px; 
}